## Importar librerías

In [ ]:
import pandas as pd
import numpy as np

## Leer Dataset

 Leer Dataset con pandas (tip: pd.read_csv).

In [ ]:
#Ruta donde se va a leer el dataset
path= 'nombres-2010-2014.csv'
#Se le asigna a una variable de python el dataset por medio de la funcion de Pandas "read_csv()"
dataset= pd.read_csv(path)

Pantallazo general: columnas, índices y memoria

In [ ]:
dataset.info()

### Primera exploración del dataset con pandas.
1. Mostrar las primeras 4 filas del dataset.

In [ ]:
dataset.head(4)

## Columnas del Dataset

2. ¿Cuáles son las dimensiones del Dataset?

In [ ]:
dataset.shape

3. ¿Cuántas columnas tiene el dataset? ¿ qué nombres tienen?

In [ ]:
dataset.shape[1]

In [ ]:
dataset.columns

In [ ]:
list(dataset.columns)

4. ¿Cuántas instancias tiene el data set?

In [ ]:
dataset.shape[0]

5. mostrar las ultimas tres instancias

In [ ]:
dataset.tail(3)

   Tenemos **871.494 Filas** y **3 Columnas**

6. ¿Qué tipos de datos tienen las columnas?

In [ ]:
dataset.dtypes

7. ¿Cuántos Null por columna tenemos? Contar los datos null en cada columna

In [ ]:
dataset.isnull().head()

In [ ]:
dataset.isnull().sum()

8. ¿Cuántos Nombres únicos tenemos? ( usar len() y unique() )

In [ ]:
list(dataset['nombre'].unique())
len(dataset['nombre'].unique())

9. ¿Cuáles años tenemos? y ¿Cuántos nombres por año tenemos?

In [ ]:
dataset['anio'].unique()

In [ ]:
len(dataset['anio'].unique())

In [ ]:
dataset.groupby('anio')['nombre'].count()

10. Cuáles fueron los 5 nombres que más se usaron?

In [ ]:
dataset[['nombre','cantidad']].groupby('nombre').sum().sort_values(by='cantidad', ascending=False).head()

11. Por año cuáles fueron los 5 nombres que más se usaron?

In [ ]:
lista_años = dataset.anio.unique() # análogo a dataset['anio'].unique() y aclaración
lista_años

In [ ]:
dataset.set_index(['nombre']).head()

La función groupby () devuelve un objeto GroupBy, pero esencialmente describe cómo se dividieron las filas del conjunto de datos original. La variable .grupo de objeto GroupBy es un diccionario cuyas claves son los grupos únicos computados y los valores correspondientes son las etiquetas de eje que pertenecen a cada grupo.

https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [ ]:
dataset.groupby('anio')['cantidad'].nlargest(5).reset_index() # porque usar el nombre como indice

In [ ]:
dataset.set_index(['nombre']).groupby('anio')['cantidad'].nlargest(5).reset_index() # haces el reset indice para que quede ordenado

*12. Buscar 4 nombres de compañeros y contar la cantidad de casos totales.*

In [ ]:
nombres_compañeros=['Martina','Facundo','Isabella','Veronica']
dataset.loc[dataset.nombre.isin(nombres_compañeros), ['nombre', 'cantidad']].groupby('nombre').sum().sort_values(by='cantidad', ascending=False)

*13. Buscar 5 nombres de compañeros y contar la cantidad de casos totales por año.*

In [ ]:
nombres_compañeros=['Javier','Marcos','Cristian','Jeronimo','Ernesto']
dataset.loc[dataset.nombre.isin(nombres_compañeros)].sort_values(by=['anio', 'nombre'],ascending=True).iloc[:, [2,0, 1]]# iloc es para ordenar las columnas

*14. Hacer una tabla que muestre por año la cantidad de veces que apareció un nombre.*

In [ ]:
dataset.pivot_table(values='cantidad',index=['nombre'],columns=['anio']).head()
#dataset.pivot_table(values='cantidad',index=['nombre'],columns=['anio'])

*15. Separar por año (2011,2012,2013,2014) los grupos y responder:*

 ¿Cuántos nombres únicos hay en el año que les tocó? ¿Cuántos nombres únicos hay en el total del dataset?,
 
 Comparar los nombres en el año que les tocó y los del dataset en general y mostrar los que NO APARECEN en el año que les tocó.

In [ ]:
nombres_2011=dataset.loc[dataset['anio']==2011]
print(len(nombres_2011['nombre'].unique()))

In [ ]:
nombres_2011.head(10)

In [ ]:
nombres_unicos =dataset['nombre'].unique()
print(len(nombres_unicos))
# nombres_unicos

In [ ]:
print(len(dataset['nombre'].unique())-len(nombres_2011['nombre'].unique()))

In [ ]:
dataset[~dataset['nombre'].isin(nombres_2011['nombre'])] # mostrar los que NO APARECEN en el año que les tocó.
# dataset[np.logical_not(dataset['nombre'].isin(nombres_2011['nombre']))] # otra opcion

*16. Hacer una tabla que muestre las 4 primeras instancias de la tabla original.*

In [ ]:
nombres_2011_subset=nombres_2011.copy()
nombres_2011_subset=nombres_2011_subset.iloc[0:4,:]
# nombres_2011_subset=nombres_2011_subset.set_index([pd.Index([1, 2, 3, 4])
nombres_2011_subset.head()

*17. Hacer un subset de los tres primeros nombres*

Vamos a ver la diferencia entre loc y iloc

In [ ]:
nombres_2011_subset.reset_index(inplace=True) # inplace = true hace la funcion en el mismo dataframe
nombres_2011_subset.head()

In [ ]:
nombres_2011_subset.drop(['index'],axis=1,inplace=True)
nombres_2011_subset.head()

In [ ]:
nombres_2011_subset['Indice']=[1,2,3,4]
# new_index=[1,2,3,4]

In [ ]:
nombres_2011_subset.head()

In [ ]:
nombres_2011_subset.set_index('Indice', inplace=True)

In [ ]:
nombres_2011_subset.iloc[0] #índice implícito

In [ ]:
nombres_2011_subset.loc[1] #índice explícito

**Nota: Recuerden que su trabajo es Darle valor a los datos**